:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --font-size-three: 24px;
}

body {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  margin: 60px auto;
}

h1, h2,
h3 {
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 96px;
}
h3 {
  font-size: var(--font-size-three);
  opacity: 0.7;
  margin-bottom: 40px;
}

h4 {
  font-weight: 900;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.2em;
}


.navbar {
  position: fixed;
  top: 0;
  margin-bottom: 60px;
}
.pagetop {
  margin-top: 130px;
}
.narrativelink {
  max-width: 185px;
}
.weatherapplink {
  max-width: 177px;
}
.yogurtlink {
  max-width: 165px;
}
#contact {
  margin-top: 60px;
}


.navigation-links {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}


.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}
.imagecolumn {
  padding: 0;
}
.projectdescription {
  padding: 50px;
  text-align: left;
}
.pagelink {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 20px 15px;
  margin-top: 20px;
  text-transform: capitalize;
}
.pagelink a {
  color: white;
  border: none;
}


.projectimages {
  margin: 30px auto;
}
.footer {
  background: var(--secondary-color);
  color: var(--primary-color);
  left: 0;
  right: 0;
  margin-top: 120px;
  padding: 100px 20px 20px 20px;
  position: absolute;
  width: 100%;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: var(--font-size-three);
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}


@media (max-width: 576px) {
  h2 {
    font-size: 85px;
  }
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  p {
    font-size: 15px;
    text-align: center;
  }
  .pagetop {
    margin-top: 100px;
  }
  .navigation-links {
    margin: 20px auto;
  }
  .navigation-links a {
    margin: 10px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
  }
  .pimage {
    display: none;
  }
  .projectdescription {
    padding: 0px;
    text-align: center;
    max-width: 100%;
    column-width: 100%;
    margin: 20px auto;
  }
  .pagelink {
    display: block;
    margin: 0 auto;
  }

  #about {
    font-size: 75px;
  }
  #contact {
    font-size: 50px;
  }
  .footer {
    margin-top: 60px;
    padding: 60px 10px 10px 10px;
    }
  h5 {
    font-size: 16px;
  }

}
